# Bundler
/.bundle
/vendor/bundle

# Database Config
config/database.yml

# Logfiles and Tempfiles
/log/*.log
/tmp

# Rails
.bundle
*.log
tmp
tmp/**/*
db/*.sqlite3
db/*.sqlite3-journal

# Documentation
doc/api
doc/app
.yardoc
.yardopts
coverage

# Assets
public/assets/*

# Public Cache
public/javascripts/cache
public/stylesheets/cache

# Vendor Cache
vendor/cache

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
#Icon # This ignores the app/assets/images/icons directory, and everything in it!
#Icon?
Desktop.ini
ehthumbs.db
Thumbs.db

# Eclipse
.project

# Vim
*.swp
*.swo
*.swm
*.swn
*.swl
*.swk
*.swe
*.swf
*.swg
*.swh
*.swi
*.swj
*.swk
*.swc
*.sw*
# RubyMine
.idea

# Backup
*~

# Sass
.sass-cache
.sass-cache/*

# SimpleCov
/coverage

# Rails Best Practices
rails_best_practices_output.html

# CSV
csv
