<p>
Dear <%=@manager.name%>,
</p>

<p>
  <%=render :partial => 'empl_leave_info', locals: {user: @user, leave_info: @leave_info, leave_type: @leave_type}%>
  Go to <%=link_to "Link", '#'%> to cancel the approved leave <br/>

<p>
    Regards <br/>
    HR Team
</p>
<p>
This is an automated mail. Please DO NOT REPLY. Please put a ticket on HR HelpDesk (Intrantet\hr) in case any queries/issues.
</p>