<p>
Dear Employee,
</p>

<p>
This is to inform you that your Earned leave balance has reached the balance of 33 Earned Leaves.
Once the Earned leave balance reaches 36, Earned leave credit to your leave balance account will be ceased. You are requested to contact HR by putting a ticket on HR HelpDesk (Intrantet\hr) for leave encashment.
Note – You can encash Maximum 12 Earned Leaves in one go. Leave Encashment can be done only once a financial year.
</p>

<p>
Regards<br/>
HR Team
</p>

<p>
This is an automated mail. Please DO NOT REPLY. Please put a ticket on HR HelpDesk (Intrantet\hr) in case any queries/issues.
</p>