<p>
	Dear <%=@user.name%>
</p>

<p>
This is to inform you that you have Absents without Leave marked in current LOP Cycle. Details of Absence without leave can be accessed through <Link>. 
</p>

<p>
In case these absences remains unapproved by Manager, these would be treated as Loss of Pay.
</p>

<p>
Please note : - <br/>
LOP Cycle runs from 16th of previous month to 15th of current month.
</p>

<p>
LOP is deducted on Gross Salary<br/>
Any LOPs will be deducted from current month salary<br/>
Make sure appropriate leaves have been applied at your end and are approved by your manager by 19th of current month.
<br/>
LOP once Deducted will be reverted back with next month salary if approved by Manager later that 18th of current month

<p>
Regards<br/>
HR Team<br/>
This is an automated mail. Please DO NOT REPLY. Please put a ticket on HR HelpDesk (Intrantet\hr) in case any queries/issues.<br/>
</p>