<%= form_tag users_cancel_leaves_path(@user.id,@leave_deducted.id), method: :delete, class: "form-horizontal", role: "form" do %>
<div class="row">
  <div class="col-sm-12">
    Do you want to cancel leaves from <b><%= @leave_deducted.date_from.strftime("%e %b %Y") %> to <%= @leave_deducted.date_to.strftime("%e %b %Y") %></b>?
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="pull-right">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Cancel Leave</button>
  </div>
  </div>
</div>
<% end %>