<div class="row">
	<div class="col-sm-12">
		<ul>
			<li><%=link_to "Attendance Report", attendance_admin_reports_path%>	</li>
			<li><%=link_to "Loss of Pay Report", loss_of_pays_admin_reports_path%></li>
		</ul>
	</div>
</div>