/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require import_bootstrap
 *= require scaffolds
 *= require calendar
 *= require bootstrap-datepicker3
 *= require dataTables/jquery.dataTables
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_self
 */


.cancel-leaves-content{
  font-size: 1.4em;
}

#response-content{
  font-size: 13px;
  font-weight: bold;
  margin: 2px 0px;
  height: 40px;
  text-align: center;
}

.half_day_group{
  display: none;
}

.loader{
  display: none;  
}

.header{
  border-bottom: 5px solid #428bca;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  height: 95px;
}

.header .username, .managername{
  float: right;
  width: 67%;
}

.header .managername{
  color: grey;
  font-weight: bold;  
}

.leave_margin_bottom{
  margin-bottom: 5px;
}

.logo{
  background-image: url('logo.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 100%;
}

#cal-week-box{
  display: none !important;
}

.sign_in_container{
  border: 2px solid #428bca;
  border-radius: 10px;
  padding: 10px;
}

.sign_in_header{
  text-align: center;
}
.blue-button{
  background-color: #3B67A7;
  border-color: #1F3F6E;
  color: white;
  border-radius: 5px;
  padding: 15px;
}